body,html{
margin:0;
position:relative;
width:100%;
}


html, body {
  width: auto !important;
  overflow-x: hidden !important;
  margin:0px;
}

#slidenav{
width:100%;
height:45px;
background-color:#d01212;
position:fixed;
top:0px;
/*z-index:10;*/
}

#slidenav-left {
display:inline-block;
width:25%;
float:left;
height:45px;
display:table-cell; 
vertical-align:middle; 

}

#slidenav-left  img{
margin-top:10px;
padding-left:13px;
height:28px;
width:28px;
}

#slidenav-center{
display:inline-block;
height:45px;
color:white;
width:50%;
text-align: center;
padding-top:7px;
font-size:22px;
font-family: 'Noto Sans', sans-serif;
}

#slidenav-right {
display:inline-block;
float:right;
height:45px;
display:table-cell; 
vertical-align:middle; 
text-align:right;
}

#slidenav-right  img{
margin-top:7px;
padding-right:10px;
height:28px;
width:28px;
}

#topnav{
height:50px;
width:20080%;
background-color:#d01212;
top:45px;
}

#topnav div{
display:inline-block;
line-height:50px;
padding-left:12px;
padding-right:12px;
font-family: 'Noto Sans', sans-serif;
color:b0b0b0;
font-size:16px;
height:50px;
}

#topnav div a{
text-decoration:none;
color: #ffdfb0;
}

#panel-left{
	position:fixed;
	left:-200px;
	top:0px;
	background-color:#fff;
	height:100%;
	width:200px;
	color:#fff;
	z-index:999;
	transition:all .3s ease;
	overflow-y:scroll;
}


#panel-right{
	position:fixed;
	right:-200px;
	top:45px;
	background-color:#1e1e1e;
	height:100%;
	width:200px;
	color:#fff;
	z-index:999;
	transition:all .3s ease;
	overflow-y:scroll;
}

.open-panel-left{
left:0px !important;
}

.open-panel-right{
right:0px !important;
}

#overlay{
position:fixed;
left:0px;
top:0px;
height:100%;
width:100%;
z-index:99;
display:none;
background-color:rgba(0, 0, 0, 0.5);
}

.regi-news {
	color: #484848;
    font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight:bold;
}

.news-by-state {
	border-top: 1px solid #ccc;
    margin-top: 10px;
}

#container{
	width:200%;
	overflow:scroll;
	height:50px;
	position: fixed;
}

ul{
list-style-type: none;
padding:0;
margin:0;
}


li{
	padding: 8px 7px 8px 15px;
}

select{
    padding:5px;
	width:150px;
	height:37px;
}

li img{
height: 20px;
    width: 20px;
    padding-bottom: 0px;
    padding-right: 10px;
    float: left;
}


li a{
text-decoration:none;
color: #484848;
font-size: 12px;
}

#slidenav-center a{
text-decoration:none;
color:white;
}


#a{
width:100%;
height:50px;
margin-left:10px;
margin-top:10px;
color: #DA2424;
font-weight:bold;
font-size:12px;
}


#a img{

width:100px;
height:50px;
 vertical-align: middle;
}


#story-image img {

    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-top: 102px;
}

#story-line{
	margin: auto;
    color: black;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    width: 93%;
    font-size: 22px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;

}

#story {
    width: 100%;
}

#story-detail {
    margin-top: 5px;
    margin-bottom: 10px;
}

#story-detail span {
    margin-left: 15px;
    font-size: 11px;
    color: rgb(145, 108, 108);
	font-family: 'Noto Sans', sans-serif;
}

#story-detail span img {
    vertical-align: middle;
    max-width: 50px;
}

#story-text {
    margin: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 23px;
}

.more-story {
    background-color: #212121;
	width: 150px;
   height: 42px;
    line-height: 42px;
    font-size: 14px;
    text-align: center;
    font-family: georgia;
    color: rgb(17, 85, 204);
    margin-bottom: 25px;
}

.more-story a {
    text-align: center;
    font-family: 'Noto Sans', sans-serif !important;
    color: white;
	text-decoration: none;
}

.related-story-block {
    margin-top: 15px;
}

.related-story {
	background: #f1f1f1;
	padding-bottom: 10px;
}

.related-story-block-image {
    float: left;
    width: 20%;
    max-width: 75px;
    margin-right: 10px;
    margin-left: 10px;
}

.related-story-block-text {
    color: #024E97;
    font-family: georgia;
    font-size: 14px;
    line-height: 20px;
    margin-right: 15px;
}

.related-story-block-text a {
    color: #024E97;
    font-family: georgia;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif !important;
}

.related-story-block-image img {
    width: 100%;
}

.wrap{
width:100%;
margin-top: 94px;
}

.block{
    overflow: hidden;
    padding-left: 5px;
	padding-top: 10px;
	padding-right:5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(212, 212, 212, 0.57);
    -webkit-box-shadow: inset 0px 0px 27px 0px rgba(214,214,214,1);
    -moz-box-shadow: inset 0px 0px 27px 0px rgba(214,214,214,1);
    box-shadow: inset 0px 0px 27px 0px rgba(234, 234, 234, 0.71);

}

.block-left{
float:left;
max-height:100px;
max-width:200px;
width:30%;
margin-right:10px;
margin-top:15px;
margin-bottom:5px;
}

.block-left a img{
width:100%;
max-height:100px;
}


.block-right{
margin-right:10px;
margin-left:10px;
}

.block-right-heading{
width:100%;
font-family: 'Noto Sans', sans-serif;
font-size: 17px;
color: rgb(17, 85, 204);
}

.block-right-heading a{
width:100%;
text-decoration:none;
font-family: 'Noto Sans', sans-serif;
font-size: 17px;
color: black;
}

.block-right-detail{
width:100%;
color: rgb(153, 153, 153);
font-family: arial, sans-serif;
font-size: 11px;
margin-bottom:10px;
margin-top:5px;
}

.block-right-detail img{
width:12px;
height:12px;
margin-right:5px;
}

.block-right-description{
width:100%;
font-family: 'Noto Sans', sans-serif;
font-size: 14px;
color: #4a4a4a;
}

.more{
font-family: "Mangal",Arial,Helvetica,sans-serif;
font-size: 12px;
color: rgb(17, 85, 204);
}

.more a{
font-family: "Mangal",Arial,Helvetica,sans-serif;
font-size: 12px;
color: #ff1010;
text-decoration:none;
}

.container-outer {
overflow: scroll; 
width:1830px; 
height: 220px; 
}

.container-inner { 
display:inline-block;
position:relative;
float:left;
padding-left:5px;
padding-right:5px;
}

.actual img{
height:200px;
width:250px;
}

.overimage{
float: left;
position: absolute;
bottom: 0px;
width: 230px;
color:white;
padding:10px;
background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
   
}

.active a{
color:white !important;
font-weight:bold;
}

.active{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-bottom: 3px solid #ffcb7e;
}


#aa-right {
display:inline-block;
float:right;
height:45px;
display:table-cell; 
vertical-align:middle; 
text-align:right;
}

#aa-right  .fa-empire{
margin-top: 17px;
padding-right: 14px;
height:20px;
width:20px;
color:#fff;
}





















